$minWidth: 1264px;
$textColor: #333333;
$orange: #ff6600;
$colorNames :("ffffff","cccccc","000000","0a3153","ff1800","fff343","fb914a","92c37c","40a6ff","9870ad","dc78ad","7f401d");
$colors :("#ffffff","#cccccc","#000000","#0a3153","#ff1800","#fff343","#fb914a","#92c37c","#40a6ff","#9870ad","#dc78ad","#7f401d");

@import "compass";

/* --------- normalize --------- */

@import "_misc/normalize";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

@import "_misc/adjustment";

/* --------- fonts --------- */

@import "_misc/fonts";

/* --------- sections --------- */

@import "sections/header";
@import "sections/navigation";
@import "sections/crumbs-title";
@import "sections/sidebar";
@import "sections/sort";
@import "sections/content";
@import "sections/info";
@import "sections/footer";
