.crumbs_title {
  width: 100%;
  height: 122px;
  padding: 30px 0 30px 0;
  @include box-sizing;
  .main-content {
    @include list-item-link-inline-block;
    &__item {

      margin-right: 5px;
      margin-bottom: 15px;
      .main-content__link {
        @include outline;
        color: $textColor;
      }
      &_active {
        border-bottom: 1px solid $orange;
        .main-content__link {
          color: $orange;
        }
      }
    }
  }
  .title-page {
    color: $textColor;
    font-family: opensans-bold-webfont;
    font-size: 1.45em;
  }

}