.footer {
  //width: 100%;
  min-width: 1264px;
  padding-left:78px;
  padding-right:78px;
  background: url('../img/footer_ptrn.png') repeat-x;
  &__container {
    height: 192px;
    max-width: 1264px;
    display: block;
    margin: 0 auto;
    .logo-ft {
      display: block;
      width: 245px;
      height: 40px;
      background-size: 240px 40px;
      margin-top: 60px;
      background: url('../img/logo_wt.png') no-repeat center;
      float: left;
    }
  }
  &__socials{
    float: right;
  }
  &__copyright {
    max-width: 1264px;
    display: block;
    margin: 0 auto;

  }
  .socials {
    min-width: 840px;
    &__list, &__item, &__link {
      display: inline-block;
    }
    &__list{
      margin-top: 35px;
    }
    &__item {
      margin-left: 26px;
      &:last-child{
        margin-left: none;

      }
    }
    &__link {
      width: 46px;
      height: 46px;
      background-size: 43px 43px;

      &:focus {
        outline: none;
      }
      $socials-map-white: sprite-map('icon-white/*.png', $spacing: 70px);
      $socials-map-white-hover: sprite-map('icon-white-hover/*.png', $spacing: 70px);
      $socials: vk, tw, fb;
      @each $social in $socials {
        &_wt_#{$social} {
          @include get-sprite($socials-map-white, $social);
          &:hover {
            @include get-sprite($socials-map-white-hover, $social);
          }
        }
      }
    }
    margin-bottom: 30px;
  }
  &__firstnav,&__secondnav {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    min-width: 1264px;
    float: right;
    @include list-item-link-inline-block;
    &__link {
      color: #ffffff;
      margin-left: 25px;
      border-bottom: 1px solid #ffffff;
      &:hover {
        color: $orange;
        border-bottom: 1px solid $orange;

      }
    }
    &__list {
      float: right;
    }
  }
  &__copyright{
    text-align: center;
    .copyright__text{
      color: #ffffff;

    }
  }
}