.sidebar {
  float: left;

}

.product-class {
  width: 333px;
  //height: 90px;
  min-height: 85px;
  overflow: hidden;
  border: solid 1px #dee1e4;
  @include border-radius(5px);
  @include box-sizing;
  margin-bottom: 38px;
  @include list-item-link-inline-block;
  &__item {
    border-top: 1px solid #dee1e4;
    &:first-child{
      border: none;
    }
    &:hover,&_active {
      .product-class__link {
        background: #d9e5ea;
      }
       }
  }
  &__link {

    @include box-sizing;
    background: #fbfbfb;

    color: $textColor;
    width: 333px;
    //height: 40px;
    min-height: 40px;
    padding: 12px 29px 12px 29px;
    @include outline;
  }
}

.product-settings {
  width: 333px;
  max-height: 1200px;
  overflow: hidden;
  background: #fbfbfb;
  border: solid 1px #dee1e4;
  @include border-radius(5px);
  @include box-sizing;
  &__item {
    border-top: 1px solid #dee1e4;
    .trigger {
      display: block;
      padding: 16px 29px;
      margin-bottom: -2px;
      font-family: opensans-semibold-webfont;
      cursor: pointer;
      &_open:hover {
        background: #d9e5ea url('../img/sidebar_list_up.png') no-repeat right center;
        background-position-y: 20px;
        background-position-x: 275px;
      }
      &_close:hover {
          background: #d9e5ea url('../img/sidebar_list_down.png') no-repeat right center;
          background-position-y: 20px;
          background-position-x: 275px;
        }
    }
    &:first-child {
      border: none;
    }
    .inner-item {
      display: none;
      padding: 0 29px 16px 29px;
    }
    .avail{
      &__item{
        margin-top: 15px;
        &:first-child{
          margin-top: 5px;
        }
      }
      &__in-all {
          display: none;
        width: 20px;
        height: 20px;
        cursor: pointer;
        @include outline;
        + .avail__text {
          cursor: pointer;
          padding-left: 30px;
          background: url('../img/radio.png') no-repeat left;
        }
        &:checked + .avail__text {
          background: url('../img/radio_active.png') no-repeat left;
        }
      }
    }
    .brand {
      &__list {
        margin-bottom: 15px;
      }
      &__item{
        margin-top: 15px;
        &:first-child{
          margin-top: 5px;
        }
      }
      &__checkbox{
        display: none;
        &:checked + .brand__text {
          background: url('../img/checkbox_active.png') no-repeat left;
        }
      }

      &__text {
        padding-left: 30px;
        cursor: pointer;
        background: url('../img/checkbox.png') no-repeat left;
      }
      &__filter-off{
          @include outline;
          color: #5db2fc;
      }
    }
    .price {
      margin-top: 5px;
      margin-bottom: 15px;
      &__text {
        margin-right: 13px;
      }
        &__from,&__to {
          width: 80px;
          height: 28px;
          border: 1px solid #dee1e4;
          @include border-radius(5px);
          @include outline;
          @include box-sizing;
          padding-left: 10px;
        }
      &__from {
        margin-right: 42px;
      }
    }
    .color {
      margin-top: 5px;
      &__list {
        margin-left: -21px;
        margin-bottom: -21px;
      }
      @include box-sizing;
      @include list-item-link-inline-block;
      &__item {
        margin-left: 21px;
        margin-bottom: 21px;
        width: 37px;
        height: 37px;
        border: 1px solid #dee1e4;

      }
      &__filter-off{
        margin-left: 19px;
        @include outline;
        color: #5db2fc;
      }
      @for $q from 1 through length($colorNames){
        &__item_#{nth($colorNames, $q)} {
          background: #{nth($colors, $q)};
          cursor: pointer;
          @include outline;
          border-radius: 5px;
          @include box-sizing;
          &:hover {
            border: 3px solid #ff6600;
          }
          &_active {
            border: 3px solid #ff6600;
          }
        }
      }
    }
  }
  .os {
    &__list {
      margin-bottom: 15px;
    }
    &__item{
      margin-top: 15px;
      &:first-child{
        margin-top: 5px;
      }
    }
    &__checkbox{
      display: none;
      &:checked + .os__text {
        background: url('../img/checkbox_active.png') no-repeat left;
      }
    }

    &__text {
      padding-left: 30px;
      cursor: pointer;
      background: url('../img/checkbox.png') no-repeat left;
    }
    &__filter-off{
      @include outline;
      color: #5db2fc;
    }
  }

}

.ui-slider{
  margin-bottom: 15px;
  height: 3px;
  background: #dee1e4;
  border: none;
  @include outline;
  .ui-slider-range{
    background: #ff6600;
  }
  .ui-slider-handle{
    top: 0px;
    border: none;
    @include outline;
    background: url("../img/price_tip.png") no-repeat center;
  }
 
}