nav.nav
	.container
		ul.nav__list
			li.nav_item
				a(href="#").nav__link Главная
			li.nav_item
				a(href="#").nav__link Каталог
				li.nav_item
				a(href="#").nav__link Новости
				li.nav_item
				a(href="#").nav__link Сравнение