.sort-bar
    form.sort-bar__form-sort
       span.sort-bar__form-sort__text
            | Сортировать по
        select.sort-bar__select#select-bar(size="1")
            option.sort-bar__option#price По цене
            option.sort-bar__option#rating По рейтингу
    ul.sort-bar__list
        span.sort-bar__list__text Вид каталога
        li.sort-bar__item.sort-bar__item_1.sort-bar__item_1_active#list-1
        li.sort-bar__item.sort-bar__item_2#list-2
        li.sort-bar__item.sort-bar__item_3#list-3