include _common/_mixins
block pagevariables
- var colors = ["ffffff","cccccc","000000","0a3153","ff1800","fff343","fb914a","92c37c","40a6ff","9870ad","dc78ad","7f401d"]
doctype html
html(lang="ru-Ru")
	head
		meta(name="viewport" content="device-width")
		link(rel="stylesheet" type='text/css' href="/css/main.css")
		link(rel="stylesheet" type='text/css' href="./css/select.css")
		script(src='bower/modernizr/modernizr.js')
		title
			block title
	body
		<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
		<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
		<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
		<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
		.wrapper
			.main-content

				include _common/_header
				include _common/_nav
				.container
					block content
		include _common/_footer					
		script(src='/js/main.js')
		script(src='js/select.js')