.info {
  display: block;
  min-width: 960px;
  max-width: 1096px;
  margin: 0 auto;
  padding: 0 78px 0 78px;
  margin-bottom: 10px;
  &__title {
    color: #333333;
    font-family: opensans-bold-webfont;
    margin-bottom: 15px;
    font-size: 1.4em;
  }
  &__text {
    color: rgb( 51, 51, 51 );
    line-height: 1.429;
    text-align: justifyLeft;
  }
}
