sidebar.sidebar
    .product-class
        +list ("product-class", ["Флагманы","Бюджетная линейка"], 2)

    .product-settings
        ul.product-settings__list
            li.product-settings__item.product-settings__item-avail
                a.trigger.trigger_close Наличие в магазинах
                .inner-item
                    forn.avail
                        ul.avail__list
                          li.avail__item
                            input(type="radio" checked="checked" name='avail' id="avail__in-all_1").avail__in-all
                            label(for="avail__in-all_1").avail__text   Во всех магазинах
                           li.avail__item
                            input(type="radio" name='avail')#avail__in-all_2.avail__in-all
                            label(for="avail__in-all_2").avail__text   В ближайшем ко мне магазине
            li.product-settings__item.product-settings__item-brand
                a.trigger.trigger_close  Бренды
                .inner-item
                  form.brand
                      +check-brand("brand",brands)
                      a(href="#").brand__filter-off#filter-off_1 Сбросить фильтр
            li.product-settings__item.product-settings__item-price
                 a.trigger.trigger_close  Цена
                 .inner-item
                    form.price
                        span.price__text от
                        input(type="text").price__from
                        span.price__text до
                        input(type="text").price__to
                    #slider-range


            li.product-settings__item.product-settings__item-color
                a.trigger.trigger_close  Цвет
                .inner-item
                    .color
                        ul.color__list
                            each color in colors
                                li(class="color__item "+"color__item_"+color)
            li.product-settings__item.product-settings__item-os
                a.trigger.trigger_close  Операционные системы
                .inner-item
                    form.osss
                        +check-os("os",ourOS)
                        a(href="#").brand__filter-off#filter-off_3 Сбросить фильтр

