$minWidth: 1264px;
$textColor: #333333;
$orange: #ff6600;
$colorNames :("ffffff","cccccc","000000","0a3153","ff1800","fff343","fb914a","92c37c","40a6ff","9870ad","dc78ad","7f401d");
$colors :("#ffffff","#cccccc","#000000","#0a3153","#ff1800","#fff343","#fb914a","#92c37c","#40a6ff","#9870ad","#dc78ad","#7f401d");

@import "compass";

/* --------- common colors --------- */

$black: #000000;
$orange: #ff6e35;
$grey: #dee1e4;

/* --------- normalize --------- */

@import "_misc/normalize";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

@import "_misc/adjustment";

/* --------- fonts --------- */

@import "_misc/fonts";

/* --------- sprite --------- */

$misc-sprite:sprite-map('../img/_misc/*.png', $spacing:70px);

/* ---------- plugins ---------- */

@import "_plugins/jquery-ui";
@import "_plugins/select2";

/* ---------- widgets ---------- */

@import "_widgets/_select";
@import "_widgets/_slider";

/* --------- sections --------- */
@import "sections/products";
@import "sections/pagination";
@import "sections/attention";
@import "sections/header";
@import "sections/navigation";
@import "sections/crumbs-title";
@import "sections/sidebar";
@import "sections/sort";
@import "sections/content";
@import "sections/info";
@import "sections/footer";

